<h1>
  NgLazyloadScript Example Application
</h1>

<h2>
  Lazy loaded text changer script
</h2>
<p>
  As soon as this button is clicked, an external script is loaded on the fly and the loaded
  library is used to change the text of the green text box.
</p>

<p id="text-box-text-changer" class="text-box green">
  A new text should appear here...
</p>

<button type="button" id="textChangerButton" (click)="loadTextChangerAndChangeText()">
  Load script and change text
</button>

<h2>
  Lazy loaded text appender script
</h2>
<p>
  As soon as this button is clicked, an external script is loaded on the fly and the loaded
  library is used to append text to the blue text box.
</p>

<p id="text-box-text-appender" class="text-box blue">
  Text should be appended here...
</p>


<button type="button" id="textAppenderButton" (click)="loadTextAppenderAndChangeText()">
  Load script and append text
</button>
